:root {
    --color-blue: #81B3D2;
    --color-braun: #766357;
    --color-black: #000000;
    --color-white: #ffffff;
}

html {
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h1,
h2 {
    display: none;
}

h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

button {
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    color: var(--color-white);
    border: none;
    font-weight: 700;
}

.btn-braun {
    background-color: var(--color-braun);
}
.btn-braun:active {
    background-color: #503E33;
    color: rgba(255, 255, 255, 0.3);
}

.btn-braun:hover, .btn-braun:focus {
    background-color: #604E43;
}

.btn-blue {
    background-color: var(--color-blue);
}

.btn-blue:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
}

.btn-blue:hover, .btn-blue:focus{
    background-color: #669EC0;
}

/*         навигация           */


.page-nav ul {
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
}

.page-nav a {
    font-weight: 700;
    color: var(--color-black);
    line-height: 26px;
}

.page-nav li {
    justify-self: center;
    height: 56px;
}

.page-nav-item {
    padding-top: 15px;
}

.page-nav a:hover {
    color: var(--color-blue);

}
.page-nav a:active {
    color:  var(--color-black);
    opacity: 0.3;
}

.page-nav-item a.active {
    color: #766357;
}

/*  страница каталога  */


.search-catalog-filter {
    background: url('../img/background-sort.jpg') no-repeat;
    background-size: cover;
    color: var(--color-white);
    min-height: 220px;
}

.searh-catalog-form {
    display: grid;
    grid-template-columns: 200px 200px 100px 400px;
    justify-content: space-around;
}

.searh-catalog-form_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    padding: 10px;
}

.searh-catalog-form_item:nth-child(3) {
    grid-column: 4/5;
    align-items: center;
}

.btn-catalog-more {
    width: 110px;
    height: 27px;
}

.btn-catalog-book {
    width: 142px;
    height: 27px;
}


.search-content-rating {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    color: #666666;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div_other .search-content-rating p {
    margin: 0;
}

.search-input {
    background: transparent;
    border: 1px solid var(--color-white);
}

button.search-input {
    width: 137px;
    height: 36px;
}

h4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

legend {
    font-weight: 700;
}

.sort {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-black);
    display: flex;
    padding: 0 30px 0;
    border-bottom: 1px solid #E5E5E5;
}

.sort-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.sort-img img {
    margin-right: 15px;
}

.sort-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.sort-active a {
    color: var(--color-blue);
}

.sort-item a {
    color: var(--color-black);
    opacity: 0.3;
    border-bottom: 1px dashed #81B3D2;
}

.search-content_ul {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.search-content_li {
    display: flex;
    min-height: 150px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #E5E5E5;
}

.search-content_li p {
    margin: 0 35px 0 10px;
}

.search-content_li button {
    margin: 0 5px 0 0;
}

.search-content_li h4 {
    margin: 0 50px 0 10px;
}

.content-li_div {
    display: flex;
    width: 275px;
    height: 100px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.content-div_other {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 150px;
    justify-content: space-evenly;
}


/*     футер    */


.footer-box {
    height: 120px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    bottom: 0;
}

.footer-ul {
    padding: 0;
    padding-top: 20px;
}

.footer-li {
    background-color: var(--color-blue);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    width: 36px;
    padding-top: 6px;
}

.footer-li img {
    display: inline-block;
    vertical-align: middle;
}

.footer-text {
    font-size: 21px;
    font-weight: 700;
}

.footer-li-icon {
    width: 46px;
    height: 48px;
}

.footer-logo {
    padding-top: 35px;
}

.footer-logo p,
.footer-logo img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}