:root {
    --color-blue: #81B3D2;
    --color-braun: #766357;
    --color-black: #000000;
    --color-white: #ffffff;
}

html {
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h1,
h2 {
    display: none;
}

h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

button {
    text-transform: uppercase;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/*        главная        */

.page-nav a {
    font-weight: 700;
    color: var(--color-black);
    line-height: 26px;
}

.welcome {
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    line-height: 26px;
}

.welcome-slogan {
    font-size: 21px;
    font-weight: 700;
}

.advantages-content {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.advantages-ul-gray {
    background-color: #eeeeee;
}

.search-subtitle {
    font-size: 30px;
    font-weight: 700;
}

.btn {
    color: var(--color-white);
    border: none;
    font-weight: 700;
}

.btn-braun {
    background-color: var(--color-braun);
}

.btn-blue {
    background-color: var(--color-blue);
}

.btn-search {
    font-size: 21px;
    font-weight: 26px;
    width: 568px;
    height: 86px;
}

.footer-ul li {
    background-color: var(--color-blue);
}

.footer-text {
    font-size: 21px;
    font-weight: 700;
}

.footer-li-icon {
    width: 46px;
    height: 48px;
}


/*  страница каталога  */

.search-catalog-filter {
    background: url('../img/background-sort.jpg') no-repeat;
    background-size: cover;
    color: var(--color-white);
}

.btn-catalog-more {
    width: 110px;
    height: 27px;
}

.btn-catalog-book {
    width: 142px;
    height: 27px;
}

.search-content-rating {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    color: #666666;
    text-align: center;
}

.search-input {
    background: transparent;
    border: 1px solid var(--color-white);
}

button.search-input {
    width: 137px;
    height: 36px;
}

h4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.sort {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-black);
}

.sort-active a {
    color: var(--color-blue);
}

.sort-item a {
    color: var(--color-black);
    opacity: 0.3;
    border-bottom: 1px dashed #81B3D2;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');